{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <p>
        Public Key: <code>{{- publicKey -}}</code>
    </p>
    <p>
        Public Key old: <code>{{- publicKeyOld -}}</code>
    </p>
{% endblock %}
