{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    You can test the WOPI endpoints by using <a href="https://github.com/microsoft/wopi-validator-core">microsoft/wopi-validator-core</a>.
    <br/>
    <br/>
    Use this command in your terminal to test locally the whole stack:
    <br/>
    <br/>
    <code>
    {{- command -}}
    </code>

    <hr/>

    <p>
        <a href="https://imgur.com/a/UGVkiur" class="btn btn-info">See animated gif</a>
    </p>
{% endblock %}
