{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
This is a demo bundle for the <a href="https://github.com/champs-libres/wopi-bundle">champs-libres/wopi-bundle</a> package for Symfony.
{% endblock %}
