{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
What you see here is the
<a href="https://github.com/champs-libres/wopi-test-bundle">champs-libres/wopi-test-bundle</a>,
a demo bundle for the <a href="https://github.com/champs-libres/wopi-bundle">champs-libres/wopi-bundle</a>
package for Symfony which provides routes and glue code between Symfony and a
<a href="https://wopi.readthedocs.io/">WOPI</a> connector.
<br/>
<br/>
This bundle also depends on <a href="https://github.com/champs-libres/wopi-lib">champs-libres/wopi-lib</a>,
a standard and framework agnostic PHP library to facilitate the implementation of the WOPI protocol in PHP.
{% endblock %}
